.messages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.message__time {
    font-size: x-small;
    justify-content: center;


}

.message {
    display: flex;


    color: white;
    padding: 0.25rem;
    margin: 0.25rem;
}

.message__sent {
    flex-direction: row-reverse;
}

.message__received {
    flex-direction: row;
}

.message__header {
    font-size: xx-large;
    font-weight: 700;

    padding: 0.5rem;
    margin: 0.25rem;
}

.message__content {
    background-color: rebeccapurple;
    padding: 0.25rem 1rem;
    margin: 0.25rem;
    line-height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    word-wrap: break-word;
  
}

.message__content p{
    padding: 0;
    margin:0
}

.newMessageForm {
    overflow: auto;
}

.newMessageForm button {
    padding: 0.25rem 2rem;
    float: right;
}


/* therapist message view */
.patient-message-create-container {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

.list-create-container {
    flex-basis: 85%;
}

.patient-message-create-container .patient {
    flex-basis: 10%;
}

.patients ul {
    margin: 0;
    padding: 0
}

.patients li {
    background-color: white;
    list-style: none;
    padding-inline-start: 0.05rem;
    line-height: 1.2rem;
    margin: 0.25rem 0.5rem;
    padding: 1.5rem 0.75rem;
    border: white 1px solid;
    border-radius: 15px;
    font-size: 1.1rem;
    color: rgb(184, 8, 184);
    font-weight: 600;
    cursor: pointer;

}

.patients li.clicked {
    background-color: lightgrey;

}

/* .newMessageForm .form-control{
    max-width: 900px;
} */

/*delete button for messages*/
.delete-button{
    padding: 0.25rem 1rem;
    margin: 0.25rem;
}
.delete-button button {
    cursor: pointer;
    margin: 0.25rem;
}